<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Informações do Computador</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css">
</head>

<body>
  <header class="headerComponent">
    <%- include("../partials/header.ejs") %>
  </header>

  <% if (alert) { %>
    <script>
      alert('<%= alert %>');
    </script>
  <% } %>

  <div class="container">
    <h1 class="mt-4 mb-4">Informações do Computador</h1>

    <div class="card p-3 mb-3" style="border: 0;">
      <h2 class="pc-title mb-1"> <%= computador.patrimonio %></h2>



      <p class="mb-1">Pertence à: <b><%= computador.empresa ? computador.empresa.nome : '-' %></b></p>

      <p class="mb-1">Local: <b><%= computador.setor %></b></p>
      <small class="text-muted"><%= computador.specs %></small>

      <div class="mt-2">
        <small id="createdAtFormatted" class="text-muted"></small>
      </div>
    </div>

    <h5 class="mb-2">Histórico de Manutenções</h5>
    <div class="table-responsive" id="manutencoesTable"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const createdAt = "<%= computador.createdAt %>";
      const createdAtFormatted = new Date(createdAt).toLocaleString('pt-BR', {
        day: '2-digit',
        month: '2-digit',
        year: 'numeric',
        hour: '2-digit',
        minute: '2-digit'
      });
      document.getElementById("createdAtFormatted").textContent = "Registrado em: " + createdAtFormatted;

      function carregarManutencoes() {
        const computadorId = "<%= computador.id %>";

        fetch(`/manutencoes-by-computador?id=${computadorId}`)
          .then(response => response.json())
          .then(data => {
            data.sort((a, b) => new Date(b.dataEntrada) - new Date(a.dataEntrada));

            const table = document.createElement('table');
            table.classList.add('table');
            table.id = 'tabela-manutencoes';

            const thead = document.createElement('thead');
            const trHead = document.createElement('tr');
            const headers = [
              { label: 'ID', index: 0 },
              { label: 'Data de Entrada', index: 1 },
              { label: 'Data de Saída', index: 2 },
              { label: 'Descrição', index: 3 },
              { label: 'Ver Manutenção', index: null }
            ];

            headers.forEach(h => {
              const th = document.createElement('th');
              th.textContent = h.label;

              if (h.index !== null) {
                th.style.cursor = 'pointer';
                th.onclick = () => ordenarTabela(h.index);
              }

              trHead.appendChild(th);
            });

            thead.appendChild(trHead);
            table.appendChild(thead);

            const tbody = document.createElement('tbody');
            data.forEach(manut => {
              const trBody = document.createElement('tr');

              ['id', 'dataEntrada', 'dataSaida', 'descricao'].forEach(prop => {
                const td = document.createElement('td');

                if (prop === 'dataEntrada' || prop === 'dataSaida') {
                  if (prop === 'dataSaida' && manut[prop] === null) {
                    td.textContent = 'Manutenção em andamento';
                  } else {
                    const date = new Date(manut[prop]).toLocaleString('pt-BR', {
                      day: '2-digit',
                      month: '2-digit',
                      year: 'numeric',
                      hour: '2-digit',
                      minute: '2-digit'
                    });
                    td.textContent = date;
                  }
                } else {
                  td.textContent = manut[prop];
                }

                trBody.appendChild(td);
              });

              const tdVerManutencao = document.createElement('td');
              const linkVerManutencao = document.createElement('a');
              linkVerManutencao.href = `/ver-manutencao?id=${manut.id}`;
              linkVerManutencao.innerHTML = '<i class="fas fa-eye"></i>';
              linkVerManutencao.className = "btn btn-primary btn-sm";
              tdVerManutencao.appendChild(linkVerManutencao);
              trBody.appendChild(tdVerManutencao);

              tbody.appendChild(trBody);
            });

            table.appendChild(tbody);

            // garante que não acumula tabela se recarregar
            document.getElementById('manutencoesTable').innerHTML = '';
            document.getElementById('manutencoesTable').appendChild(table);
          })
          .catch(error => console.error('Erro ao carregar manutenções:', error));
      }

      carregarManutencoes();
    });
  </script>
</body>
</html>
